___
layout:post
title:"Navbar"
___
<footer>
        <nav class="">
            <ul class=" nav align-items-stretch">
                <li class="nav-item f20  border bg-red p-3 px-5">
                    <a class=" nav-link text-black active" href="#">Public Relation</a>
                </li>
                <li class="nav-item f20 border bg-blue  p-3 px-5">
                    <a class="nav-link text-black" href="#">Youth Development</a>
                </li>
                <li class="nav-item f20 border bg-green  p-3 px-5">
                    <a class=" nav-link text-black" href="#">Bussiness Development</a>
                </li>
                <li class="nav-item f20 border bg-orange  p-3 px-5">
                    <a class=" nav-link text-black" href="#">Human Resource</a>
                </li>
            </ul>
        </nav>
</footer>