___
layout:post
title:"Navbar"
___
<footer>
        <nav class="">
            <ul class=" nav align-items-stretch d-flex bd-highlight w-100 border">
                <div class="flex-fill bd-highlight">
                    <li class="nav-item f20   flex-fill bg-red p-3 px-5">
                        <a class=" nav-link text-white active" href="#">Public Relation</a>
                    </li>
                </div>
                <div class="flex-fill bd-highlight">
                    <li class="nav-item f20 flex-fill   bg-blue  p-3 px-5">
                        <a class="nav-link text-white" href="#">Youth Development</a>
                    </li>
                </div>
                <div class="flex-fill bd-highlight">
                    <li class="nav-item f20 flex-fill  bg-green  p-3 px-5">
                        <a class=" nav-link text-white" href="#">Bussiness Development</a>
                    </li>
                </div>
                <div class="flex-fill bd-highlight">
                    <li class="nav-item f20 flex-fill  bg-orange  p-3 px-5">
                        <a class=" nav-link text-white" href="#">Human Resource</a>
                    </li>
                </div>

            </ul>
        </nav>
</footer>