
<div class="hidesmall nav row animate__animated  animate__bounceInUp mw ">
    <div class="col-sm-12 p-3 col-md-3 center bg-red navbarLink">
      <a href="#publicrelations" class="navbarL" >Public Relation</a>
    </div>
    <div class="col-sm-12 p-3 col-md-3 center bg-blue navbarLink">
      <a href="#youthdevelopment" class="navbarL" >Youth Development</a>
    </div>
    <div class="col-sm-12 p-3 col-md-3 center bg-orange navbarLink">
      <a href="#bussinessdevelopment" class="navbarL" >Bussiness Development</a>
    </div>
    <div class="col-sm-12 p-3 col-md-3 center bg-green navbarLink">
      <a href="#humanresource" class="navbarL" >Human Resource</a>
    </div>
</div>
