<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:4000/assets/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
<div class="card">
<div class="bgBlurText f50 bold" style="color:#b30000">idk what iss this</div>
<div class="header f40 bold" style="color:#b30000">We create bounding</div>
  <div class="contents row">
    <div class="leftCol col-sm-6">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div class="rightCol col-sm-5">
<img class="cardImg" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/team_goals_hrii.svg" style="width:100%">
    </div>
  </div>
</div>
<style>
.bgBlurText{
  position:absolute;

opacity:.1;
  text-shadow: 0 0 5px rgba(0,0,0,0.9);
}
.leftCol{margin-top:20px}
.card{position:relative}
.f40{font-size: 3rem;}
.card{padding:25px}
.header{margin-top:35px}
.card {
    font-family: 'Work Sans';
}